#!/bin/bash

yay
yay -S --needed \
  aws-cli-v2 \
  beekeeper-studio-bin \
  blender \
  bruno-electron \
  cozy-desktop \
  dive \
  docker \
  docker-buildx \
  fluent-cursor-theme-git \
  fluent-kde-theme-git \
  imhex-bin \
  inkscape \
  kaccounts-providers \
  keeweb-desktop-bin \
  kio-gdrive \
  kora-icon-theme \
  krita \
  kubectl-bin \
  kvantum \
  lazydocker \
  libreoffice-fresh \
  nvm \
  obsidian \
  oh-my-zsh-git \
  ruby-colorls \
  scaleway-cli \
  slack-desktop \
  visual-studio-code-bin \
  youtube-music-bin \
  zsh \
  zsh-autosuggestions \
  zsh-syntax-highlighting \

{{ if (or (eq .chezmoi.hostname "guillaume-desktop") (eq .chezmoi.hostname "guillaume-laptop")) }}
yay -S --needed \
  discord \
  steam \
{{ end }}

{{ if eq .chezmoi.hostname "guillaume-desktop" }}
yay -S --needed \
  prusa-slicer \
  streamdeck-ui \
{{ end }}

# Remove previously installed packages
yay -Rns \
  insomnia-bin \
  >/dev/null 2>&1 || true